.header {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 1rem;
}

/* Add this to your CSS or use Tailwind CSS classes */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
